{% extends 'base.html' %}

{% load i18n %}

{% block container %}
    {% if employee %}
        <h1>{{ employee.full_name }}</h1>
    {% else %}
        <h1>{% translate 'Create' %}</h1>
    {% endif %}
    <hr>
    <form method="post">{% csrf_token %}

        {{ form.as_p }}

        <input type="submit" class="btn btn-primary btn-lg"
               value="{% translate 'Save' %}">
        <a href="{% url 'employee-list' %}" class="btn btn-secondary btn-lg">
            {% translate 'Cancel' %}
        </a>

    </form>

{% endblock %}