{% extends 'base.html' %}

{% load i18n %}

{% block container %}
    <h1>{{ employee.full_name }}</h1>
    <hr>
    <a href="{% url 'employee-list' %}" class="link-primary">
        {% translate 'Back' %}
    </a>

    <div class="card mb-3 mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    {% translate 'Firstname' %}
                </div>
                <div class="col">
                    {{ employee.firstname }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% translate 'Surname' %}
                </div>
                <div class="col">
                    {{ employee.surname }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% translate 'Email' %}
                </div>
                <div class="col">
                    {{ employee.email }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% translate 'Birthdate' %}
                </div>
                <div class="col">
                    {{ employee.birthdate }}
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-primary btn-lg">
        <i class="bi bi-pencil"></i>
        {% translate 'Edit' %}
    </a>
    <a href="#" class="btn btn-danger btn-lg">
        <i class="bi bi-trash"></i>
        {% translate 'Delete' %}
    </a>

{% endblock %}