{% extends 'base.html' %}

{% load i18n %}

{% block container %}
    <h1>{{ project.title }}</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="alert alert-danger">
            {% translate 'You want to delete?' %}
        </div>
        <input type="submit" class="btn btn-danger btn-lg" value="{% translate 'Confirm' %}">
        <a href="{% url 'project-list' %}" class="btn btn-primary btn-lg">
            {% translate 'Cancel' %}
        </a>
    </form>

{% endblock %}