{% extends 'base.html' %}

{% load i18n %}
{% load markdown_processor %}
{% load task_class %}
{% load query_builder %}

{% block container %}
    <h1>{{ project.title }} #{{ project.id }}</h1>
    <hr>
    <a href="{% url 'project-list' %}" class="link-primary">
        {% translate 'Back' %}
    </a>

    <div class="card mb-3 mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5>{% translate 'Due date' %}</h5>
                </div>
                <div class="col">
                    {{ project.due_date | date:"DATE_FORMAT" }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>{% translate 'Tasks' %}</h5>
                </div>
                <div class="col">
                    {{ total }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>{% translate 'Completed' %}</h5>
                </div>
                <div class="col">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar"
                             style="width:{{ completed | floatformat:0 }}%;"
                             aria-valuenow="{{ completed| floatformat:0 }}"
                             aria-valuemin="0" aria-valuemax="100">
                            {{ completed | floatformat:0 }}%
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>
                        {% translate 'Is closed' %}
                    </h5>
                </div>
                <div class="col">
                    {% if project.is_closed %}
                        <i class="bi bi-check-circle"></i>
                    {% else %}
                        <i class="bi bi-x-circle"></i>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5>{% translate 'Documents' %}</h5>
                    <a href="{% url 'project-document-upload' project.id %}" class="btn btn-primary btn-sm mb-1">
                        <i class="bi bi-plus"></i>
                        {% translate 'Add' %}
                    </a>
                    {% for document in project.documents.all %}
                        <div class="d-flex">
                            <a href="{{ document.document.url }}" download>
                                <i class="bi bi-paperclip"></i>
                                {{ document.title }}
                            </a>
                            <p>&nbsp;</p>
                            <p>{{ document.description }}</p>
                            <p>&nbsp;</p>
                            <p>({{ document.document.size | filesizeformat }})</p>
                            <p>&nbsp;</p>
                            <p>{{ document.uploaded | date:"DATETIME_FORMAT" }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>


            {% if project.description %}
                <div class="row">
                    <div class="col">
                        <h5>
                            {% translate 'Description' %}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% autoescape off %}
                            {{ project.description|markdown }}
                        {% endautoescape %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    <a href="{% url 'project-edit' project.id %}{% query_builder request.GET next=request.path %}"
                       class="btn btn-primary btn-lg">
                        <i class="bi bi-pencil"></i>
                        {% translate 'Edit' %}
                    </a>
                    <a href="{% url 'project-delete' project.id %}" class="btn btn-danger btn-lg">
                        <i class="bi bi-trash"></i>
                        {% translate 'Delete' %}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <h2>{% translate 'Tasks' %}</h2>

    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <a href="{% url 'projects-task-create' %}" class="btn btn-primary">
                    <i class="bi bi-plus"></i>
                    {% translate 'Add' %}
                </a>
            </div>
            {% if task_list %}
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% translate 'Title' %}</th>
                        <th>{% translate 'Assignee' %}</th>
                        <th>{% translate 'Start' %}</th>
                        <th>{% translate 'End' %}</th>
                        <th>{% translate 'Status' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in task_list %}
                        <tr class="{{ task | task_class }}">
                            <td>{{ task.id }}</td>
                            <td>
                                <a href="{% url 'projects-task-detail' task.id %}"
                                   class="link link-primary"
                                >
                                    {{ task.title }}
                                </a>
                            </td>
                            <td>{{ task.assignee.full_name }}</td>
                            <td>{{ task.start | date:"SHORT_DATETIME_FORMAT" }}</td>
                            <td>{{ task.end | date:"SHORT_DATETIME_FORMAT" }}</td>
                            <td>{{ task.get_status_display }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}