{% extends 'base.html' %}

{% load i18n %}

{% block container %}
    <h1>{% translate 'Create' %}</h1>
    <hr>
    <form method="post">{% csrf_token %}

        {{ form.as_p }}

        <input type="submit" class="btn btn-primary btn-lg"
               value="{% translate 'Save' %}">
        {% if request.META.HTTP_REFERER %}
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary btn-lg">
                {% translate 'Cancel' %}
            </a>
        {% else %}
            <a href="{% url 'project-list' %}" class="btn btn-secondary btn-lg">
                {% translate 'Cancel' %}
            </a>
        {% endif %}


    </form>

{% endblock %}