{% extends 'base.html' %}

{% load i18n %}

{% block container %}
    <h1>{% translate 'Projects' %}</h1>
    <hr>
    <a href="{% url 'project-create' %}" class="btn btn-primary mb-3">{% translate 'Create' %}</a>
    {% if project_list %}
        <table class="table table-hover table-striped align-middle">
            <thead>
            <tr>
                <th>#</th>
                <th>{% translate 'Title' %}</th>
                <th>{% translate 'Due date' %}</th>
                <th>{% translate 'Tasks' %}</th>
                <th>{% translate 'Completed' %}</th>
                <th>{% translate 'Closed' %}</th>
                <th>{% translate 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for project in project_list %}
                <tr>
                    <td>{{ project.id }}</td>
                    <td>
                        <a href="{% url 'project-detail' project.id %}"
                           class="link-primary">
                            {{ project.title }}
                        </a>
                    </td>
                    <td>{{ project.due_date }}</td>
                    <td>{{ project.status_count }}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width:{{ project.completed | floatformat:0}}%;"
                                 aria-valuenow="{{ project.completed| floatformat:0 }}"
                                 aria-valuemin="0" aria-valuemax="100">
                                {{ project.completed | floatformat:0 }}%
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if project.is_closed %}
                            <i class="bi bi-check-circle"></i>
                        {% else %}
                            <i class="bi bi-x-circle"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'project-edit' project.id %}"
                           class="btn btn-primary btn-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{% url 'project-delete' project.id %}"
                           class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% translate 'No projects' %}</p>
    {% endif %}{% endblock %}