{% extends 'base.html' %}

{% load i18n %}
{% load markdown_processor %}

{% block container %}
    <h1>{{ task.title }} #{{ task.id }}</h1>
    <hr>
    {% if request.META.HTTP_REFERER %}
        <a href="{{ request.META.HTTP_REFERER }}" class="link link-primary">
            {% translate 'Back' %}
        </a>
    {% else %}
        <a href="{% url 'projects-task-list' %}" class="link link-primary">
            {% translate 'Back' %}
        </a>
    {% endif %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5>{% translate 'Project' %}</h5>
                </div>
                <div class="col">
                    <a href="{% url 'project-detail' task.project.id %}">
                        # {{ task.project.id }}
                        {{ task.project.title }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>{% translate 'Author' %}</h5>
                </div>
                <div class="col">
                    <a href="{% url 'employee-detail' task.project.id %}">
                        {{ task.author.full_name }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>{% translate 'Assignee' %}</h5>
                </div>
                <div class="col">
                    <a href="{% url 'employee-detail' task.project.id %}">
                        {{ task.assignee.full_name }}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>{% translate 'Start' %}</h5>
                </div>
                <div class="col">
                    {{ task.start | date:"DATETIME_FORMAT" }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>{% translate 'End' %}</h5>
                </div>
                <div class="col">
                    {{ task.end | date:"DATETIME_FORMAT" }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>{% translate 'Status' %}</h5>
                </div>
                <div class="col">
                    {{ task.get_status_display }}
                </div>
            </div>
            {% if task.description %}
                <div class="row">
                    <div class="col">
                        <h5>{% translate 'Description' %}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% autoescape off %}
                            {{ task.description|markdown }}
                        {% endautoescape %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    <a href="{% url 'projects-task-edit' task.id %}" class="btn btn-primary btn-lg">
                        <i class="bi bi-pencil"></i>
                        {% translate 'Edit' %}
                    </a>
                    <a href="{% url 'projects-task-delete' task.id %}" class="btn btn-danger btn-lg">
                        <i class="bi bi-trash"></i>
                        {% translate 'Delete' %}
                    </a>

                </div>
            </div>
        </div>
    </div>

    {% for comment in comments %}
        <div class="row mt-3">
            <div class="col">
                <div class="justify-content-between d-flex">
                    <div>
                        <a id="anchor{{ forloop.counter }}"></a>
                        <small>{{ comment.created | date:"DATETIME_FORMAT" }}</small>
                    </div>
                    <div class="ml-auto">
                        <a href="#anchor{{ forloop.counter }}">#{{ forloop.counter }}</a>
                    </div>
                </div>
                <hr>
                <p class="mb-3">
                    {% if comment.description %}
                        {% autoescape off %}
                            {{ comment.description|markdown }}
                        {% endautoescape %}
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}

    <div class="row mt-3 mb-5">
        <div class="row">
            <form action="{% url 'comment-post' task.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="task" value="{{ task.id }}">
                <div class="mb-3">
                    {{ comment_form.description }}
                </div>
                <button type="submit" class="btn btn-primary">
                    {% translate 'Save' %}
                </button>
            </form>
        </div>
    </div>

{% endblock %}