{% extends 'base.html' %}

{% load i18n %}
{% load task_class %}
{% load query_builder %}

{% block container %}
    <h1>{% translate 'Tasks' %}</h1>
    <hr>
    <a href="{% url 'projects-task-create' %}" class="btn btn-primary mb-3">
        {% translate 'Create' %}
    </a>
    {% if task_list %}
        <table class="table table-striped table-hover align-middle">
            <thead>
            <tr>
                <th><a class="link-secondary"
                       href="{% query_builder request.GET order_by='id' %}">#</a>
                </th>
                <th><a class="link-secondary"
                       href="{% query_builder request.GET order_by='title' %}">
                    {% translate 'Title' %}</a>
                </th>
                <th><a class="link-secondary"
                       href="{% query_builder request.GET order_by='author' %}">
                    {% translate 'Author' %}</a>
                </th>
                <th><a class="link-secondary"
                       href="{% query_builder request.GET order_by='assignee' %}">
                    {% translate 'Assignee' %}</a>
                </th>
                <th><a class="link-secondary"
                       href="{% query_builder request.GET order_by='start' %}">
                    {% translate 'Start' %}</a>
                </th>
                <th><a class="link-secondary"
                       href="{% query_builder request.GET order_by='end' %}">
                    {% translate 'End' %}</a>
                </th>
                <th><a class="link-secondary"
                       href="{% query_builder request.GET order_by='status' %}">
                    {% translate 'Status' %}</a>
                </th>
                <th>{% translate 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in task_list %}
                <tr class="{{ task | task_class }}">
                    <td>{{ task.id }}</td>
                    <td>
                        <a href="{% url 'projects-task-detail' task.id %}"
                           class="link-primary">
                            {{ task.title }}
                        </a>
                    </td>
                    <td>{{ task.author.full_name }}</td>
                    <td>{{ task.assignee.full_name }}</td>
                    <td>{{ task.start | date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>{{ task.end | date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>
                        {{ task.get_status_display }}
                    </td>
                    <td>
                        <a href="{% url 'projects-task-edit' task.id %}"
                           class="btn btn-primary btn-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{% url 'projects-task-delete' task.id %}"
                           class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav aria-label="...">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% query_builder request.GET page=page_obj.previous_page_number %}">
                            {% translate 'Previous' %}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            {% translate 'Previous' %}
                        </a>
                    </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if p == page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="{% query_builder request.GET page=p %}">{{ p }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{% query_builder request.GET page=p %}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% query_builder request.GET page=page_obj.next_page_number %}">
                            {% translate 'Next' %}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            {% translate 'Next' %}
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>

    {% else %}
        <p>{% translate 'No tasks' %}</p>
    {% endif %}
{% endblock %}