{% extends 'empty.html' %}

{% load i18n %}
{% load html_attributes %}
{% block container %}
    <div class="card mt-5 mb-5 mx-auto" style="max-width: 600px">
        <div class="card-body">
            <h3 class="card-title mb-3">{% translate 'Reset password' %}</h3>

            {% if validlink %}

                <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                <form method="post">{% csrf_token %}
                    <fieldset class="module aligned">
                        <div class="mb-3">
                            {{ form.new_password1.errors }}
                            {% attr class='form-control' placeholder=form.new_password1.label as password1_attrs %}
                            {{ form.new_password1|add_attr:password1_attrs }}
                        </div>
                        <div class="mb-3">
                            {{ form.new_password2.errors }}
                            {% attr class='form-control' placeholder=form.new_password2.label as password2_attrs %}
                            {{ form.new_password2|add_attr:password2_attrs }}
                        </div>
                        <input type="submit" class="btn btn-primary form-control"
                               value="{% translate 'Change my password' %}">
                    </fieldset>
                </form>

            {% else %}

                <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

            {% endif %}
        </div>
    </div>

{% endblock %}