{% extends 'empty.html' %}

{% load i18n %}
{% load html_attributes %}
{% block container %}
        <div class="card mt-5 mb-5 mx-auto" style="max-width: 600px">
        <div class="card-body">
            <h3 class="card-title mb-3">{% translate 'Reset password' %}</h3>

            <form method="post">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-envelope-fill"></i>
                    </span>
                    {% attr class='form-control' placeholder=form.email.label as email_attrs %}
                    {{ form.email | add_attr:email_attrs }}
                </div>

                <button type="submit" class="btn btn-primary form-control mb-3">
                    {% translate 'Reset' %}
                </button>
                <input type="hidden" name="next" value="{{ next }}">

            </form>

            <div class="d-flex justify-content-center mb-3">
                <div>
                    {% translate 'Do not have an account?' context 'accounts' %}
                    <a href="{% url 'accounts:register' %}">
                        {% translate 'Register' context 'accounts' %}
                    </a>
                </div>
            </div>

            <div class="d-flex justify-content-center mb-3">
                <div>
                    {% translate 'Already have an account?' context 'accounts' %}
                    <a href="{% url 'accounts:login' %}">
                        {% translate 'Login' context 'accounts' %}
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}