{% extends 'empty.html' %}

{% load i18n %}
{% load html_attributes %}

{% block container %}
    <div class="card mt-5 mb-5 mx-auto" style="max-width: 600px">
        <div class="card-body">
            <h3 class="card-title mb-3">{% translate 'Register' %}</h3>

            <form method="post" action="{% url 'accounts:register' %}">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}

                {% for error in form.email.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                {% endfor %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-envelope-fill"></i>
                    </span>
                    {% attr class='form-control' placeholder=form.email.label as email_attrs %}
                    {{ form.email | add_attr:email_attrs }}
                </div>

                {% for error in form.password1.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                {% endfor %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-lock-fill"></i>
                    </span>
                    {% attr class='form-control' placeholder=form.password1.label as password1_attrs %}
                    {{ form.password1 | add_attr:password1_attrs }}
                </div>

                {% for error in form.password2.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                {% endfor %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="bi bi-lock-fill"></i>
                    </span>
                    {% attr class='form-control' placeholder=form.password2.label as password2_attrs %}
                    {{ form.password2 | add_attr:password2_attrs }}
                </div>

                <button type="submit" class="btn btn-primary form-control mb-3">
                    {% translate 'Register' %}
                </button>
                <input type="hidden" name="next" value="{{ next }}">

            </form>

            <div class="d-flex justify-content-center mb-3">
                <div>
                    {% translate 'Already have an account?' context 'accounts' %}
                    <a href="{% url 'accounts:login' %}">
                        {% translate 'Login' context 'accounts' %}
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}