{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Taskcamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% url 'home' as url %}
                    <a class="nav-link{% if request.path == url %} active{% endif %}"
                       href="{{ url }}">
                        {% translate 'Home' %}</a>
                </li>
                <li class="nav-item">
                    {% url 'project-list' as url %}
                    <a class="nav-link{% if request.path == url %} active{% endif %}"
                       href="{{ url }}">
                        {% translate 'Projects' %}</a>
                </li>
                <li class="nav-item">
                    {% url 'projects-task-list' as url %}
                    <a class="nav-link{% if request.path == url %} active{% endif %}"
                       href="{{ url }}">
                        {% translate 'Tasks' %}</a>
                </li>
                <li class="nav-item">
                    {% url 'employee-list' as url %}
                    <a class="nav-link{% if request.path == url %} active{% endif %}"
                       href="{{ url }}">
                        {% translate 'Employees' %}</a>
                </li>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person"></i>
                        {% translate 'Account' %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start"
                        aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-gear"></i>
                                {% translate 'Profile' %}
                            </a>
                        </li>
                        {% if user.is_staff or user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'admin:index' %}">
                                <i class="bi bi-tools"></i>
                                {% translate 'Admin' %}
                            </a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                {% translate 'Logout' %}
                            </a>
                        </li>
                    </ul>
                </div>


            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search"
                       name="q" value="{{ request.GET.q }}"
                       placeholder="{% translate 'Search' %}"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    {% translate 'Search' %}
                </button>
            </form>


        </div>
    </div>
</nav>