{% load i18n %}
{% get_current_language as LANG %}
<!DOCTYPE html>
<html lang="{{ LANG }}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Reset password link</h1>
<hr>
<p>
    To initiate the password reset process for your Taskcamp Account,
    click the link below:
</p>

<a href="{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}">Link</a>

<p>
    If clicking the link above doesn't work, please copy and paste the URL in a new browser
    window instead.
</p>

<p>
    Sincerely,
    The Taskcamp Team
</p>
</body>
</html>